
/* header section */

h1 {
    display: flex;
    justify-content: center;
}

/* gameboard section styling */
#gameboard {
    display: flex;
    justify-content: center;
}

/* cell field/cells style */
.cellfield {
    background-color: blue;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
}

/* adding style/flex to all of the elements within the cell field container (the rows) */
.cellfield>* {
    flex: 0 0 20%;
    background-color: green;
    border: solid;
    height: 24%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/* adding style/flex to all of the elements in the row containers (the cells) */
.row>* {
    flex: 0 0 23%;
    background-color: grey;
    border: solid;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

 /* seeing where different things are via background colors css */

 /* hiddin (starting state) cells are grey with invisible txt */
.hidden {
    background-color: grey;
    color: grey;
    border-style: solid;
    border-color:black;
 }

/* revealed state shows text */
.revealed {
    background-color: grey;
    color: black;
    border-style: solid;
    border-color:black;
 }

 /* bomb shows red color and dark red text */
.bomb {
    background-color: red;
    color: rgb(79, 40, 40);
    border-style: solid;
    border-color:black;
}

/* diffused shows green color and dark green text */
.diffused {
    background-color: green;
    color: rgb(3, 44, 3);
    border-style: solid;
    border-color:black;
}