

/* cell field/cells style */
.cellfield {
    background-color: blue;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* to style all div children of cellfield parent */
.cellfield>* {
    background-color: grey;
    height: 50px;
    width: 50px
}

/* bomb class styling */
.bomb {
    background-color: red;
    color: rgb(79, 40, 40);
}